/* global */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: 62.5%;
}
ul{
  margin: 0;
  padding: 0;
}
